%div{:"ng-controller" => "BadController1Controller"}
  // some use with {{badData}}
  %div{:"ng-controller" => "BadController2Controller"}
    // some more use with {{badData}}
    // some use with {{badData2}}