%div{:"ng-controller" => "GoodController1Controller as good1"}
  // some use with {{good1.goodData}}
  %div{:"ng-controller" => "GoodController2Controller as good2"}
    // some more use with {{good1.goodData}}
    // some use with {{good2.goodData2}}
    // ng-click call to {{good2.addSomething()}}